<div class="card-body">
  <h5 class="card-title"><%= @flat.name %></h5>
  <h6 class="card-subtitle mb-2 text-muted"><%= @flat.address %></h6>
  <pre class="card-text"><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %>     <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></pre>
  <p class="card-text"><%= @flat.description %></p>
</div>
